.tituloh1{
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}
.tituloh2{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.indice{
    color: inherit;
    text-decoration: underline;
}