<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>vndresito</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <div class="container">
      <h1 class="tituloh1">Blog Vndresito</h1>
      <strong class="d-none d-md-block my-m2">Inidce</strong>
      <hr class="d-none d-md-block my-2" />
      <nav id="tableOfContrents">
        <ul>
          <li>
            <a class="indice" href="#Introduccion">Introduccion</a>
          </li>
          <li>
            <a class="indice" href="#Estudios">Estudios</a>
          </li>
          <li>
            <a class="indice" href="#Conocimientos">Conocimientos</a>
          </li>
          <li>
            <a class="indice" href="#DondeEstudio">De donde estudio?</a>
          </li>
          <li>
            <a class="indice" href="#Hobbies">Hobbies</a>
          </li>
          <li>
            <a class="indice" href="#Metas">Metas</a>
          </li>
          <li>
            <a class="indice" href="#Setup">Setup</a>
          </li>
          <li>
            <a class="indice" href="#Redes">Redes</a>
          </li>
        </ul>
      </nav>
      <hr />
      <h2 class="tituloh2" id="Introduccion">Introduccion</h2>
      <p>
        Hola, mi nombre es Andres Bustos y este es mi blog personal, este blog
        no tiene ningun proposito, es solo un proyecto personal para probar mis
        habilidades creando un sitio web, si estas aqui te doy la bienvenida,
        aunque es raro :s.
      </p>
      <h2 class="tituloh2" id="Estudios">Estudios</h2>
      <p>
        Mi camino de estudios es muy tradicional y nunca destaque fuera de lo
        "normal", pero aqui esta:
      </p>
      <ol>
        <li>
          <p>
            Mi enesenansa basica la realize en el colegio Alicante del Rosal ->
            <a href="https://www.alcantara-alicante.cl/alicante-rosal/"
              >Sitio web del colegio</a
            >.
          </p>
        </li>
        <li>
          <p>
            Mi enesenansa media la realize en el colegio Alicante del Rosal ->
            <a href="https://www.alcantara-alicante.cl/alicante-rosal/"
              >Sitio web del colegio</a
            >.
          </p>
        </li>
        <li>
          <p>
            Mis estudios superiores los estoy haciendo en Inacap Maipu, voy en
            4to semestre de ingenieria en informatica :) ->
            <a
              href="https://portales.inacap.cl/carreras/Area-Tecnologias-Informacion-y-Ciberseguridad/Ingenieria-en-Informatica/index"
              >Sitio web de la carrera</a
            >.
          </p>
        </li>
      </ol>
      <h2 class="tituloh2" id="Conocimientos">Conocimientos</h2>
      <p>
        Estando en mi 4to semestre he aprendido una variedad de lenguajes de
        programacion y diversas formas de programar, trabajr y manejar datos
      </p>
      <p>Mi camino de aprendizaje:</p>
      <ol>
        <li>
          <p>Mi introduccion a la programacion fue con python.</p>
        </li>
        <li>
          <p>Luego POO en python tambien.</p>
        </li>
        <li>
          <p>
            Tambien aprendi Mysql para administrar bases de datos relacionales.
          </p>
        </li>
        <li>
          <p>
            Luego empece con desarrollo front end con el pathing basico de
            html->css->javaScript->Framework, en este caso me centre en react.
          </p>
        </li>
        <li>
          <p>Aprendi a hacer guis basicas con kivy(python).</p>
        </li>
        <li>
          <p>Bases de datos no relacionales con MongoDB.</p>
        </li>
        <li>
          <p>
            Aprendi a utilizar sistemas linux, linux server y tambien windows
            server.
          </p>
        </li>
        <li>
          <p>
            Entend lo que es un trabajo de desarrollo agil y como aplicarlo ya
            sea para proyectos chicos o trabajr con clientes.
          </p>
        </li>
        <li>
          <p>Aprendi como conectar bases de datos a programas(backend).</p>
        </li>
        <li>
          <p>Aprendi a armar y reparar equipos(PC).</p>
        </li>
        <li>
          <p>
            Entendi como funcionan los sistemas de control de versiones
            (especificamente git con github).
          </p>
        </li>
        <li>
          <p>
            En mi ultimo proyecto de semestre me lance de lleno a aprender
            React-Native conectado a FireBase.
          </p>
        </li>
      </ol>
      <h2 class="tituloh2" id="DondeEstudio">De donde estudio?</h2>
      <p>
        Pues a lo largo de estos 4 semestres e descubierto diversas fuentes para
        aprender nuevas tecnologias, tales como:
      </p>

      <ol>
        <li>
          <p>
            Primero la documtacion del mismo lenguaje o tecnologia ->
            <a href="https://www.python.org/doc/"
              >Ejemplo documentacion de python</a
            >.
          </p>
        </li>
        <li>
          <p>
            luego si hablamos de tutoriales tengo 2 canales de youtube que veo
            por encima de otros, estos serian:
            <br />
            <a href="https://www.youtube.com/@midudev">Midudev</a>
            <br />
            <a href="https://www.youtube.com/@HolaMundoDev">Hola mundo!</a>
          </p>
        </li>
        <li>
          <p>
            Hay una pagina que me encanta, puedes seguir sus caminos para
            aprender ya sea un lenguaje o un trabajo. ->
            <a href="https://roadmap.sh/">roadmap</a>
          </p>
        </li>
        <li>
          <p>
            Y la simpre presente w3school XD ->
            <a href="https://www.w3schools.com/">w3school</a>
          </p>
        </li>
      </ol>
      <h2 class="tituloh2" id="Hobbies">Hobbies</h2>
      <p>
        A lo largo de mi adolesencia pase por muchos hobbies que aun mantengo de
        una forma u otra algunos son:
      </p>
      <ol>
        <li>
          <p>
            CS:GO. Jugue a csgo a nivel amateur en torneos nacionales, pero
            simepre ame la competitividad que hay dentro de este e-sport.
          </p>
        </li>
        <li>
          <p>
            Baquetbol. El primer deporte que juegue en mi vida XD, me saco de
            varios problemas mentales que tube en mi adolesencia y siemrpe
            estare agradecido al deporte por eso.
            <br />
          </p>

          <p>
            En una epoca pense que queria ser profesional, e inverti un ano de
            esfuerzo full basquetbol(repeti 3ro medio y todo XD), aunque me di
            cuenta que no era lo mio, y en general no es una buena profesion en
            chile.
          </p>
        </li>
        <li>
          <p>
            El PC gaming. parece obvio luego de mencionar el csgo, pero con esto
            me refiero a todo en general, armo mis propios PCs desde los 14
            anos, y soy fan de probar perifericos nuevos cada vez que pueda.
          </p>
        </li>
        <li>
          <p>
            Luego del basquetbol llegaron varios deportes que probe, los que mas
            me gustaron fueron: Atletismo, Volleyball y Handball
          </p>
        </li>
      </ol>
      <h2 class="tituloh2" id="Metas">Metas</h2>
      <p>Mis metas a largo plazo principales a dia de hoy son:</p>
      <ol>
        <li>
          <p>Terminar mi carrera, me quedan 4 semestres</p>
        </li>
        <li>
          <p>Trabajar en el area de dasarrollo web o movil</p>
        </li>
        <li>
          <p>Ganar suficiente experiencia para ser sennior</p>
        </li>
        <li>
          <p>Buscar emigrar a Nueva Zlenada, Canada o Australia</p>
        </li>
      </ol>
      <p>
        Al menos esto en el ambito laboral, dentro del ambito personal mis metas
        son:
      </p>
      <ol>
        <li>
          <p>Aprender a llevar una vida sana</p>
        </li>
        <li>
          <p>
            Entender como funciona mi cerebro y encontrar una forma de
            aprendizaje constante
          </p>
        </li>
        <li>
          <p>Llevar una vida amorosa estable, sana y bonita</p>
        </li>
        <li>
          <p>culiarme a todos en el valo</p>
        </li>
      </ol>
      <h2 class="tituloh2" id="Setup">Setup</h2>
      <p>
        Actualmente cuento con 2 setups separados, uno de gaming y uno de
        estudios, el de gmaing lo uso para mis tiempos de oscio y el de
        "estudio" es principalmente para programar
      </p>
      <h2 class="tituloh2" id="Redes">Redes</h2>
      <p>
        Algunas de mis redes sociales por si gusta seguirme o contactarme :)
      </p>
    </div>
  </body>
</html>
